<div class="container">
  <header class="header">
    <nav class="navbar">
      <div class="navbar">
        <a href="/recipes">Recipes</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/profile">Profile</a>
<!-- 
        <a href="#" class="logout-button" (click)="logout()">Logout</a> Promjena na <a> element 
           -->
      </div>
    </nav>
    <h1>Recipe Sharing<br>Platform</h1>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <!-- <footer class="footer">
    <p>&copy; Recipe Sharing Platform. All Rights Reserved.</p>
  </footer> -->
</div>